.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-icon {
  padding: 0 14px;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.Aligner {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  width: 480px;
}

.example-fab {
  position: fixed;
  right: 20px;
  bottom: 10px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
}
